<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/shop_menu.css">
   <link rel="stylesheet" href="">

</head>
<body>
  <div id="main">
   
    <header class="header">
        <img src="\images\logo.jpg" alt="" class="logo">
        <nav class="navbar">
          <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#footer-container" >Contact</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/userAccountPage">User Account</a></li>
          </ul>
        </nav>
        <button class="menu-toggle">&#9776;</button>
    </header>
    
    
   
  


   <% include ./function.ejs %> 
    
  <div class="shop_menu_section">
    
       <h1> Station Location : <%= lounge.stationLocation %></h1>
       <h1> lounge Name : <%= lounge.loungeName %></h1>


   <div class="shop_menu">
     
     <% for(var i=0;i< all_items.length; i++){ %>
      
      <% for(var j=0;j< all_items[i].length; j++){ %>

        <div class="menu-items">
          
  
              <img src="/upload/<%= all_items[i][j].Image %>" alt="">
              <h2>  <%= all_items[i][j].item_Name %>  </h2>
              <p> <%= all_items[i][j].description %> </p>
              <p class="price"> <%= all_items[i][j].price %> </p>
             <%= console.log("yyyyyyy"+all_items[i][j]._id) %>
             <a href="/item/<%= all_items[i][j]._id %>"> <button class="add-to-cart">Order now</button></a>
              
          </div>

              <% } %>
              
              <% } %>
    
   </div>
  
  </div>

    <% include ./about.ejs %>
    <% include ./service.ejs %>
    <% include ./footer/footer.ejs %>
    

  </div>
   



 <script src="/javascripts/script.js"></script>
</body>
</html>